.i{
    background: url('https://i.pinimg.com/originals/c2/6a/25/c26a25ed8b68810961899f01b42266e3.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    height: 100%;
}
.y{
    padding-top: 90px;
}